<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Semi-BoldItalic.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli.ttf</string>
		<string>Muli-Light.ttf</string>
	</array>
</dict>
</plist>
